/* .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        align-items: center;

        height: 250px;
        border: 1px red solid;
        background-color: #DDD;
    } */

/* .child {
        display: flex;
        align-items: center;
    } */

.container {
  display: flex;
}

.child-1 {
  background-color: red;
  flex-grow: 1;
}

.child-2 {
  flex-grow: 1;
  background-color: blue;
}

.container-swap .child-1 {
  order: 1;
}

.weekly-item {
  display: flex;
  width: 350px;
  height: 80px;

  border-bottom: 1px solid #ddd;
}

.weekly-item__number {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weekly-item__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
}

.weekly-item__song-title {
  text-transform: capitalize;
}

.weekly-item__view-count {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #999;
}

.weekly-album {
  height: 128px;
  width: 128px;
  display: flex;

  background-image: url("https://loremflickr.com/320/240?lock=1");
  background-position: center;
  background-size: cover;
}

.weekly-album__overlay {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: flex-end;

  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(4, 2, 31, 0) 78%,
    rgba(10, 10, 10, 0.002320185614849146) 78%,
    rgba(251, 253, 254, 1) 100%
  );
}

.weekly-album__number {
  padding: 10px;
  color: azure;
}

/* Album animaiton */
.album-animation {
    height: 128px;
    width: 128px;

    background-image: url('https://loremflickr.com/320/240?lock=1');
    background-size: cover;
    background-position: center;
}

.album-animation__overlay {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    
    color: white;
    
    visibility: hidden;
}

.album-animation:hover .album-animation__overlay {
    visibility: visible;    
}

.album-animation__overlay i.fa-play {
    height: 2rem;
    width: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 2ms;
}

.album-animation:hover i.fa-play {
    height: 4rem;
    width: 4rem;

    font-size: 2rem;
}


/* Position */

